/5_Prova_Conceito/Sistema_Embarcado/.metadata
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Debug/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Debug/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Documentation/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Documentation/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Generated_Code/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Generated_Code/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/*.g_c
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/*.g_x
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Project_Settings/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Project_Settings/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Project_Settings/Components_DEBUG/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/*.settings/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/*.settings/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/.cwGeneratedFileSetLog
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/ProjectInfo.xml
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Static_Code/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/Static_Code/*.*
/5_Prova_Conceito/Sistema_Embarcado/.metadata/
/5_Prova_Conceito/Sistema_Embarcado/.metadata/*.*
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/.metadata/
/5_Prova_Conceito/Sistema_Embarcado/Sensores/acelerometro/KDS/.metadata/*.*
/5_Prova_Conceito/Sistema_Embarcado/RemoteSystemsTempFiles/
/5_Prova_Conceito/Sistema_Embarcado/RemoteSystemsTempFiles/*.*